/*  ============= WEB BROWSER RESETS ============ */
* { margin: 0; padding: 0; border: none }
*, *::before, *::after { box-sizing: border-box }
html { height: 100%; font-size: 100%; font: inherit; vertical-align: baseline;
scroll-behavior: smooth; scroll-padding-top: 20px }
body { max-width: 1920px; line-height: 1.5; margin-left: auto; margin-right: auto; 
min-height: 100vh; text-rendering: optimizeSpeed }  
img { width: 100%; height: auto; display: block }
input, button, textarea, select { font: inherit }
/* Help prevent overflow of long words/names/URLs */
h1, h2, h3, h4, p, li { word-break: break-word; hyphens: auto }
/* HTML5 container elements full viewport width */
header, section, footer { width: 100% }
/* Last element at bottom of header or section */
header *:last-child, section *:last-child, footer *:last-child { margin-bottom: 0 }
/* ================= ENDS ================ */

@media (min-width: 768px) { 
    .hero-block { height: 100vh }
}

/* ======== GLOBAL ========= */

body, html{
  height: 100%;
  width: 100vw;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

a{
    text-decoration: none;
    color: #000;
}

li{
    list-style: none;
}

.flexbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.left{
    justify-content: flex-start;
    width: 50%;
    flex: 0 0 30%;
}

.right{
    justify-content: flex-end;
    width: 50%;
}
/* ======== NAVIGATION ========= */

.navbar{
    position: fixed;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: green;
    color: white;
    z-index: 1;
}

.nav-links a {
    color: #fff;
}

.logo{
    width: 60px;
}

.logo img:hover{
    transform: scale(1.1);
    transition: 0.3s ease;
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 30px;
    text-decoration: none;
    
}

.menu li:hover {
    background-color: darkgreen;
    border-radius: 5px;
    transform: scale(1.1);
    transition: 0.3s ease;
}    

.menu li {
    padding: 5px 14px;
}

/* ======== HERO BLOCK ========= */

.hero{
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: white;

  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("../img/stPatrick.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero h1{
  font-size: 5em;
  margin-top: 0;
  margin-bottom: 0.5em;
  text-shadow: 2px 3px 2px gray;
}

.hero h2{
  text-shadow: 2px 3px 2px gray;
}

.hero .btn {
    display: block;
    width: 300px;
    
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    color: white;
    text-decoration: none;
    font-size: 1.5em;

    border: 3px solid black;
    border-radius: 20px;

    background-color: orange;
}

.hero .btn:hover {
    background-color: darkgreen;
    transition: 0.3s ease;
}

/* ======== Footer ==========*/

.footer{
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: darkgreen;
    color: white;

    z-index: 1;
}

.footer-links a {
    color: #fff;
}

.footer-menu {
    display: flex;
    justify-content: center;
    gap: 1em;
    font-size: 20px;
    
}

.footer-menu li:hover {
    text-decoration: none;
}    

.footer-menu li {
    padding: 5px 14px;
    text-decoration: underline;
}

/* ======== Footer social medias ==========*/

.social{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social li{
  margin: 0 10px;
}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  width: 52px;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

/* Instagram */
.fa-instagram {
  background: #125688;
  color: white;
}

/* Linkedin */
.fa-linkedin {
  background: #007bb5;
  color: white;
}

/* Youtube */
.fa-youtube {
  background: #bb0000;
  color: white;
}

/* ======== Advertisement ========= */

div.line{
  
  width: 60%;
  margin:auto;
  margin-top: 30px;
  height: 2px;
  background-color: orange;
}

.advertisement{
  padding-top: 30px;
  text-align: center;
}

/* ======== Animations ========= */

/* ----------------------------------------------
 * Generated by Animista on 2023-1-20 21:9:5
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
 .slide-in-top {
	-webkit-animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }

/* ----------------------------------------------
 * Generated by Animista on 2020-4-8 10:45:15
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */


/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
 .slide-in-left {
    -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;  
            animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;  
 }


 @-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  